<h1>Welcome to the Vanilla forum!</h1>

<%=  link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>

OR

<%= link_to "Sign In Through Facebook", '/auth/facebook' %>

<div>


#scope on this topics div for five latest
<h3>Latest Topics</h3>
<ul>
  <% @topics.each do |topic| %>
  <li><%= link_to("#{topic.title}", topic_path(topic.id)) %></li>

  <% end %>
</ul>

<%= link_to "View All Topics", topics_path %>

</div>
