

  <div class="jumbotron text-center ">
    <h1>Welcome to the Vanilla forum!</h1>
  </div>


  <div class="row mb-5">

    <div class = "col-sm-8">

      <h3>Latest Threads</h3>

        <% @topics.each do |topic| %>
          <div class="">
            <%= link_to("#{topic.title}", topic_path(topic.id)) %>
          </div>
        <% end %>

      <%= link_to "View All Threads", topics_path, class: "btn btn-outline-danger btn-circle mt-2" %>

    </div>


    <div class = "col-sm-4">

      <h3>Latest Signups</h3>

        <% @users.each do |user| %>
          <div>
            <%= link_to("#{user.username}", user_path(user.id)) %>
          </div>
        <% end %>

      <%= link_to "View All Users", users_path, class:"btn btn-outline-danger btn-circle mt-2" %>

    </div>

  </div>

  <div class="row mb-3">
    <div class = "col-sm-8 ">

      <h3>Popular Posts</h3>
        <% @posts.each do |post_id, upvotes| %>
          <%  @post = Post.find(post_id) %>
        <div>
        <p><%= link_to("#{@post.body}", topic_path(@post.topic_id))%> (<%="#{@post.upvotes.count}"%> upvotes) </p>
        <% end %>
        </div>
      <%= link_to "Create new post", new_topic_path, class: "btn btn-outline-danger btn-circle mt-2" %>
    </div>

  </div>
