<div class="row">
  <div class="col">
  <h2>All Threads</h2>
    <hr>
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-sm-9">
    <% @topics.each do |topic| %>
    <h5 ><%= link_to("#{topic.title}", topic_path(topic.id)) %></h5>



    <div class ="row">
      <div class="col">
        <% posty = topic.posts.oldest%>
        <%# <%  binding.pry %>
        <strong><%= "posty.user.username" %></strong>
      </div><!-- end post.username col -->
    </div><!-- end post.username row -->

    <!-- stats section -->
    <div class="row stats-bar">
      <div class="col mt-0">
        <span class="text-muted mr-2">
          <i class="material-icons mr-1">drafts</i><%= topic.posts.count %> posts
        </span>
        <span class="text-muted">
          <i class="material-icons mr-1">query_builder</i><%= "posty.updated_at" %>
        </span>
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row media">
      <div class="col media-body"><%= "posty.body" %></div>
    </div> <!-- end row -->
    <hr>
    <% end %><!-- iteration ends -->
  </div><!-- end col-sm-9 -->

  <!-- right sidebar-->
  <div class="col-sm-3 text-right">
    <!-- create post link-->
    <div class="row">
      <div class="col">
        <%= link_to_if (!!current_user), "Create New Post", new_topic_path, class: "btn btn-outline-primary btn-block btn-lg btn-circle"  do %>
          <%= link_to "Join the conversation", @signup_path, class: "btn btn-outline-primary btn-block btn-lg btn-circle" %>
        <% end %>
      </div>
    </div>

  </div> <!-- end col-sm-3 -->

</div><!-- end row -->
