
<h2><%= @topic.title  %></h2>

<% @topic.posts.most_upvoted.each do |post_id, upvotes| %>

<div>
  <%  @post = Post.find(post_id) %>
  <%= @post.user.username %><br>
  <%= @post.body %><br>
  <%= @post.updated_at %><br>
  <%= @post.upvotes.count %>

<br><br>

</div>
<% end %>
