

<% if !!@upvote %>
<%= render partial: 'layouts/errors', locals: {object: @upvote} %>
<% else %>
<%= render partial: 'layouts/errors', locals: {object: @topic} %>
<% end %>

<div class="row">
  <div class="col">
    <h2> <%= @topic.title  %></h2>
    <hr>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-sm-9">

  <%@topic.posts.order_by_created.each do |post| %>
  <div class="row">
    <div class="col"><strong><%= post.user.username %></strong></div>
  </div> <!-- end row -->

  <div class="row stats-bar">
    <div class="col mt-0">
      <span class="text-muted mr-2">
        <i class="material-icons mr-1">thumb_up</i><%= post.upvotes.count %> upvotes
      </span>
      <span class="text-muted">
        <i class="material-icons mr-1">query_builder</i><%= post.updated_at %>
      </span>
    </div> <!-- end col -->
  </div> <!-- end row -->

  <div class="row media">
    <div class="col media-body"><%= post.body %></div>
  </div> <!-- end row -->

  <!-- Upvote button -->
  <div class="row">
    <div class="col">

    <% if !!current_user && not_upvoted_by_current_user?(post)%>
        <div class="mt-2">
          <%= form_for :upvote, url: upvotes_path,  method: "post" do |u| %>
            <%= u.hidden_field :post_id, :value => post.id %>
            <%= u.submit:"Upvote", class: "btn btn-outline-danger btn-circle"%>
          <% end %>
        </div>
      <% end %>
    </div> <!-- end col -->

    <% if post.user == current_user %>
      <div class="col-md-auto mt-2">
        <!-- Edit + Delete + Join convo links -->
        <%= link_to "Edit Post", edit_topic_post_path(@topic, post), class: "btn btn-dark btn-circle" %>
      </div>
      <div class="col-md-auto mt-2">
        <%= link_to "Delete Post", topic_post_path(@topic, post), method: :delete, class: "btn btn-danger btn-circle" %>
      </div>
    <% end %>
  </div> <!-- end row -->
  <hr>
<% end %>

  </div> <!-- end col-sm-9 -->
  <div class="col-sm-3 text-right">
    <!-- create post link-->
    <div class="row">
      <div class="col">
        <%= link_to_if (!!current_user), "Create New Post", new_topic_post_path(@topic), class: "btn btn-outline-primary btn-block btn-lg btn-circle"  do %>
          <%= link_to "Join the conversation", @signup_path, class: "btn btn-primary btn-circle" %>
        <% end %>
      </div>
    </div>
    <% if !!current_user %>
      <!-- Most Upvoted link -->
      <div class="row mt-3">
        <div class="col">
          <%= link_to most_upvoted_path(@topic.id), class: "btn btn-outline-secondary btn-block btn-lg btn-circle" do %>
            <i class="material-icons">favorite_border</i> Most Upvoted
          <% end %>
        </div>
      </div>
    <% end %>
  </div> <!-- end col-sm-3 -->

</div> <!-- end row -->
