

<% if !!@upvote %>
<%= render partial: 'layouts/errors', locals: {object: @upvote} %>
<% else %>
<%= render partial: 'layouts/errors', locals: {object: @topic} %>
<% end %>


<h2> <%= @topic.title  %></h2>

<div class="">
  <% @topic.posts.order_by_updated.each do |post| %>
    <%= post.user.username %><br>
    <%= post.body %><br>
    <%= post.updated_at %><br>
    <%= post.upvotes.count %>
    <%  @post = Post.find_by_id(post)%>


<!-- Upvote button -->
    <% if !!current_user %>
    <div class="">
        <%= form_for :upvote, url: upvotes_path,  method: "post" do |u| %>
        <%= u.hidden_field :post_id, :value => @post.id %>
        <%= u.submit "Upvote this post"%>
        <% end %>
    </div>
  <% end %>

  <!-- Edit + Delete + Join convo links -->
  <% if @post.user == current_user %>
  <div class="">
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post) %>
      <%= link_to "Delete Post", topic_post_path(@topic, @post), method: :delete  %>
      <% end %>
    <!-- Divider for each post-->  
    <hr>
    <% end %>

    <%= link_to_if (!!current_user), "Create Post",new_topic_post_path(@topic) do %>
    <%= link_to "Join the conversation", @signup_path %>
    <% end %>
  </div>


  <!-- Most Upvoted link -->
  <div class="">
    <% if !!current_user %>

    <%= link_to "Most Upvoted Posts", most_upvoted_path(@topic.id) %>

    <% end %>
  </div>
</div>

#url /upvotes is ugly!if user tries to reload?
